//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 11 07:53:57 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "audio" LOCATE = SITE "A16" LEVEL 1;
NET "clock_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

