//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 27 11:12:43 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clock_in" LOCATE = SITE "V10" LEVEL 1;
COMP "clock_out" LOCATE = SITE "T18" LEVEL 1;
NET "clock_in_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

