//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 03 12:25:58 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "in" LOCATE = SITE "V8" LEVEL 1;
COMP "pb" LOCATE = SITE "U8" LEVEL 1;
COMP "mas_" LOCATE = SITE "M18" LEVEL 1;
COMP "led" LOCATE = SITE "T18" LEVEL 1;
COMP "s3<0>" LOCATE = SITE "L16" LEVEL 1;
COMP "s3<1>" LOCATE = SITE "V11" LEVEL 1;
COMP "s3<2>" LOCATE = SITE "T3" LEVEL 1;
COMP "s3<3>" LOCATE = SITE "R3" LEVEL 1;
COMP "s4<0>" LOCATE = SITE "U11" LEVEL 1;
COMP "s3<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "s4<1>" LOCATE = SITE "V13" LEVEL 1;
COMP "s3<5>" LOCATE = SITE "U5" LEVEL 1;
COMP "s4<2>" LOCATE = SITE "U13" LEVEL 1;
COMP "s3<6>" LOCATE = SITE "V4" LEVEL 1;
COMP "s4<3>" LOCATE = SITE "T10" LEVEL 1;
COMP "s5<0>" LOCATE = SITE "L15" LEVEL 1;
COMP "s4<4>" LOCATE = SITE "R10" LEVEL 1;
COMP "s5<1>" LOCATE = SITE "K16" LEVEL 1;
COMP "s4<5>" LOCATE = SITE "T11" LEVEL 1;
COMP "s5<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "s4<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "s5<3>" LOCATE = SITE "J18" LEVEL 1;
COMP "s5<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "s5<5>" LOCATE = SITE "H18" LEVEL 1;
COMP "s5<6>" LOCATE = SITE "H17" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "B11" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "A11" LEVEL 1;
COMP "carnes_" LOCATE = SITE "R5" LEVEL 1;
COMP "audio" LOCATE = SITE "A16" LEVEL 1;
COMP "final" LOCATE = SITE "B16" LEVEL 1;
COMP "hsync" LOCATE = SITE "B12" LEVEL 1;
COMP "bas<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "bas<1>" LOCATE = SITE "A2" LEVEL 1;
COMP "bas<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "clock_in" LOCATE = SITE "V10" LEVEL 1;
COMP "bombillo" LOCATE = SITE "P15" LEVEL 1;
COMP "red<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "red<1>" LOCATE = SITE "B9" LEVEL 1;
COMP "red<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "C4" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "C5" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "D6" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "C6" LEVEL 1;
COMP "green<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "green<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "green<2>" LOCATE = SITE "C11" LEVEL 1;
COMP "menos_" LOCATE = SITE "L18" LEVEL 1;
COMP "reset_" LOCATE = SITE "R8" LEVEL 1;
COMP "micro<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "micro<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "micro<2>" LOCATE = SITE "T4" LEVEL 1;
COMP "pizza_" LOCATE = SITE "T8" LEVEL 1;
COMP "puerta" LOCATE = SITE "V9" LEVEL 1;
COMP "vsync" LOCATE = SITE "A12" LEVEL 1;
COMP "palomitas_" LOCATE = SITE "T9" LEVEL 1;
COMP "descongelar_" LOCATE = SITE "T5" LEVEL 1;
NET "clock_in_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

